body ul {
  list-style-type: none;
  font-family: sans-serif;
}
.currentTab {
  border: solid 1px black;
  padding: 3px;
}

.home {

}

.about {

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
